<div class="container">
    <form class="form">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="InputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="InputName">
            </div>

            <div class="col-md-6 mb-3">
                <label for="InputEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="InputEmail">
            </div>
        </div>

        <div class="mb-3">
            <label for="InputMessage" class="form-label">Message</label>
            <textarea class="form-control" id="InputMessage"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>