.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 50px;
    height: 84vh; /* Hardcoding container height */
    border: solid black 2px;
}